@media only screen and (min-width:320px) and (max-width:480px) {
    .modal-wrapper {
        overflow: auto;
        height: 80vh;
    }
    
    .flex-card {
        display: flex;
        justify-content: center;
    }
    
    .flex-card div {
        width: 60vw;
        text-align: left;
        margin: 10px 0;
    }
    
    .flex-card h3 {
        width: 50vw;
        margin: 0;
    }
    
    .flex-card ul {
        width: 55vw;
        padding-left: 0;
    }
    
    .flex-card li {
        width: 55vw;
        list-style: none;
        padding: 5px 0;
        text-align: left;
        margin: 0;
    }
    
    .flex-card img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width:481px) {
    .modal-wrapper {
        overflow: auto;
        height: 80vh;
    }
    
    .flex-card {
        display: flex;
        justify-content: center;
    }
    
    .flex-card div {
        text-align: left;
    }
    
    .flex-card h3 {
        width: 350px;
    }
    
    .flex-card ul {
        padding-left: 0;
    }
    
    .flex-card li {
        list-style: none;
        padding: 5px 0;
        text-align: left;
    }
    
    .flex-card img {
        width: 80px;
        height: 80px;
    }
}