.modal-close {
    color: #fff;
    background-color: #999;
    position: absolute;
    top: -35px;
    right: -8px;
    font-size: 15px;
    border-radius: 70%;
    border: 2px solid #333;
    width: 32px !important;
    height: 32px !important;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}