// 밑은 대체로 공통으로 들어가거나, 재활용 할 수 있는 css를 정리하였습니다.

ul{
    list-style:none;
    width:100%;
    margin: 48px auto;
    padding:0;
}

.red{
  color:red;
}
.green{
  color:green;
}
.yellow{
  color:#ffb80c;
}

.pageWrap {
  max-width: 700px;
  min-width: 320px;
  margin: 60px auto 0;
  text-align: center;
  display:flex;
  flex-direction:column;
  text-decoration:none;
}

.firstPageWrap{
  margin:24px auto 0;
  padding:0;
}

.arrowWrap{
  margin: 100px auto 0;
}

.pageWrap img{
  margin: 0 auto;
  border-radius:20px;
}

.pageWrap .ImgCont{
  margin: 0 auto 24px;
  display:flex;
  flex-direction:column;
  border-radius:0px;
}


// 탭에 관련된 CSS
.pageWrap button#simple-tab-1, #simple-tab-0{
position:relative;
top:16px;
font-size:16px;
font-weight:500;
}

.MuiTabs-indicator{
  height:6px !important;
}

#simple-tab-1 span{
margin:0;
padding:0;
height:10px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  color:#333;
}

.MainText{
  color:#333;
  line-height:1;
  font-size:14px;
  margin:0 auto;
  padding:0;
}

.pageWrap h2{
  width:65%;
  margin: 24px auto 0;
  border-bottom: 8px solid #47acff;
}

.pageWrap h3{
  font-size:16px;
 margin:8px auto 4px;
 padding:0;
}

.pageWrap p{
  color:#00acff;
  font-weight:400;
  font-size:12px;
  padding:0;
  margin:0;
}

footer{
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
}


// 밑은 추후 반응형-(모바일 환경 특수 css)으로 만들어질 것을 대비해서 만들어둔 미디어 쿼리입니다. 신경 안쓰셔도 됩니다!

@media all and (min-width: 320px) and (max-width: 699px) {
 
}