
// 크기 체크와 관련된 CSS입니다. 대부분은 공통 class를 재활용하기 때문에 여기 없는 건 App.scss를 참고해주세요.
// 6-2page

.selfwrap{
  width:100%;
  height:100vh;
}

.selfHeader{
  width:100%;
position:relative;
top:0;
}

.sizeCheckBtn{
  position: fixed;
  bottom: 0;
  left: 0;
  width:100% !important;
  height:80px !important;
  background: #368BFF !important;
  color:#fff !important; 
  font-weight:900 !important;
  font-size:30px !important;
  cursor: pointer;
}

.sizeCheckBtn:disabled{
  position: fixed;
  bottom: 0;
  left: 0;
  width:100% !important;
  height:80px !important;
  background: #b4b4b4 !important;
  font-weight:900 !important;
  font-size:30px !important;
  cursor: default;
}



.selfwrap p{
  width:100%;
}

